{% extends 'layouts/base.html' %}

{% block title %}View sent files{% endblock title %}

{% load static %}

{% block content %}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">File</span> - View Sent Files</h4>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">

    <div class="card">
        

        <div class="card-body table-responsive">
            <table class="table datatable-basic">
                <thead>
                    <tr class="text-primary">
                        <th>Created At</th>
                        <th>Receiver</th>  
                        <th>File Name</th>
                        <th>File Type</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in file_list %}
                    <tr class="record">
                        <td>{{ file.created_at }}</td>
                        <td>
                            {% for rec in file.file_receivers.all %}
                                {{ rec }}, <br>
                            {% endfor %}
                        </td>  
                        <td>{{ file.name|title }}</td>
                        <td>{{ file.type|upper }}</td>
                        <td>
                            {% if file.status == file.PENDING %}
                            <span class="badge badge-primary">PENDING</span>
                            {% elif file.status == file.ACCEPTED %}
                            <span class="badge badge-success">ACCEPTED</span>
                            {% elif file.status == file.REJECTED %}
                            <span class="badge badge-danger">REJECTED</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ file.file.url }}" class="text-primary mr-3" title="Download {{ file.name|title }}"><i class="fa fa-download"></i></a>
                            <a href="{% url 'files:view_sent_resent' %}" class="text-primary resend" title="Resend {{ file.name|title }} to {{ file.receiver.name|title }}" data-id="{{ file.id }}" data-token="{{ csrf_token }}" data-user="{{ user.id }}" data-status="1"><i class="fa fa-share-square"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- /content area -->
{% endblock content %}

{% block scripts %}
<script src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/pages/datatables_basic.js' %}"></script>
<script src="{% static 'assets/js/pages/files/sent_files.js' %}"></script>
{% endblock scripts %}