{% extends 'layouts/base.html' %}

{% block title %}View old files{% endblock title %}

{% load static %}

{% block content %}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">File</span> - View old Files</h4>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">

    <div class="card">
        

        <div class="card-body table-responsive">
            <table class="table datatable-basic">
                <thead>
                    <tr class="text-primary">
                        <th>Created At</th>
                        <th>Uploaded By</th>  
                        <th>File Name</th>
                        <th>File Type</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in file_list %}
                    <tr class="record">
                        <td>{{ file.created_at }}</td>
                        <td>{{ file.user.name|title }}</td>  
                        <td>{{ file.name|title }}</td>
                        <td>{{ file.type|upper }}</td>
                        <td class="text-center">
                            <a href="{{ file.file.url }}" class="text-primary mr-3" title="Download {{ file.name|title }}"><i class="fa fa-download"></i></a>
                            {% if request.user.account_type == 'super' or request.user.account_type == 'admin' %}
                            <a href="#" class="text-danger btnDelete" data-id="{{ file.id }}" data-token="{{ csrf_token }}" title="Delete {{ file.name|title }}"><i class="fa fa-trash"></i></a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- /content area -->
{% endblock content %}

{% block scripts %}
<script src="{% static 'assets/js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/pages/datatables_basic.js' %}"></script>
<script>
    $(".datatable-basic tbody tr").on('click', '.btnDelete', function(e){
        e.preventDefault();
        e.stopPropagation();
        var $this = $(this);
        swal({
            title: "Sure to delete?",
            text: `You are about delete ${$this.parents('.record').find('td').eq(2).text()} account`,
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-sm text-danger",
            cancelButtonClass: "btn-sm",
            confirmButtonText: "Yes, delete",
            closeOnConfirm: true
            },
        function(){
            let data = {
                file: $this.data('id'),
                csrfmiddlewaretoken: $this.data('token')
            }
            $.ajax({
                url: "{% url 'files:view_old_files' %}",
                type: "POST",
                data: data,
                dataType: "json",
                success: function(resp){
                    if(resp.message==='success'){
                        $this.parents('.record').fadeOut('slow', function(){
                            $this.parents('.record').remove();
                        });
                    }else{
                        console.log("something went wrong");
                    }
                },
                error: function(resp){
                    console.log('something wrong with request')
                }
            });
        });
      return false;
    });
</script>
{% endblock scripts %}