{% extends 'layouts/base.html' %}

{% block title %}Change password{% endblock title %}

{% load static %}

{% block content %}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Change Password</h4>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">

    <!-- Main charts -->
    <div class="row">
        <div class="col-sm-12 col-lg-6 offset-lg-3">

            <!-- Traffic sources -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h6 class="card-title ">Change Password</h6>
                    <div class="header-elements"></div>
                </div>

                <div class="card-body py-0">
                    <div id="msgContainer" class="text-danger mb-2"></div>
                    <form action="{% url 'accounts:change_password' %}" id="formChangePassword">
                        {% csrf_token %}

                        <div class="form-group validate">
                            <label>Current Password</label>
                            <input type="password" name="old_password" id="current_password" class="form-control" placeholder="Enter Current Password">
                            <span class="text-danger mySpan"></span>
                        </div> 

                        <div class="form-group validate">
                            <label>New Password</label>
                            <input type="password" name="new_password1"  id="password" class="form-control" placeholder="Enter New Password">
                            <span class="text-danger mySpan"></span>
                        </div>
                        <div class="form-group validate">
                            <label>Confirm New Password</label>
                            <input type="password" name="new_password2"  id="password_confirmation" class="form-control" placeholder="Enter Confirm New Password">
                            <span class="text-danger mySpan"></span>
                        </div> 

                        <div class="form-group">
                            <button type="submit" class="btn bg-primary btn-sm btnChangePassword">Change Password </button>
                        </div> 
                    </form>
                </div>

            </div>
            <!-- /traffic sources -->

        </div>
    </div>
    <!-- /main charts -->

</div>
<!-- /content area -->
{% endblock content %}

{% block scripts %}
<script src="{% static 'assets/js/pages/accounts/users.js' %}"></script>
{% endblock scripts %}