{% extends 'layouts/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% load static %}

{% block content %}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - Dashboard</h4>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">


    <!-- Quick stats boxes -->
    {% if user.account_type == 'super' %}
    <!-- Quick stats boxes -->
    <div class="row">
        <div class="col-lg-3">

            <!-- Sent File online -->
            <div class="card bg-teal-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_zones }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Zones
                    </div>
                </div>
            </div>
            <!-- /Sent File online -->

        </div>

        <div class="col-lg-3">

            <!-- Current server load -->
            <div class="card bg-pink-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_users }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Users
                    </div>
                </div>
            </div>
            <!-- /current server load -->

        </div>

        <div class="col-lg-3">

            <div class="card bg-blue-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Created Files
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">

            <!-- Today's revenue -->
            <div class="card bg-purple-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_archives }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Archived Files
                    </div>
                </div>
            </div>
            <!-- /today's revenue -->

        </div>
    </div>
    <!-- /quick stats boxes -->

    {% elif user.account_type == 'admin' %}
    <!-- Quick stats boxes -->
    <div class="row">

        <div class="col-lg-2">

            <!-- Current server load -->
            <div class="card bg-pink-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_users }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Users
                    </div>
                </div>
            </div>
            <!-- /current server load -->

        </div>


        <div class="col-lg-2">

            <!-- Sent File online -->
            <div class="card bg-teal-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_departments }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Departments
                    </div>
                </div>
            </div>
            <!-- /Sent File online -->

        </div>

        <div class="col-lg-2">

            <div class="card bg-blue-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Created Files
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <div class="card bg-warning-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_accepted_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Accepted Files
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-2">

            <div class="card bg-danger-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_rejected_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Rejected Files
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">

            <!-- Today's revenue -->
            <div class="card bg-purple-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_archives }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Archived Files
                    </div>
                </div>
            </div>
            <!-- /today's revenue -->

        </div>
    </div>
    <!-- /quick stats boxes -->
    {% else %}
    <div class="row">
        <div class="col-lg-2">

            <!-- Sent File online -->
            <div class="card bg-teal-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_sent_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Sent Files
                    </div>
                </div>
            </div>
            <!-- /Sent File online -->

        </div>

        <div class="col-lg-2">

            <!-- Current server load -->
            <div class="card bg-pink-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_rejected_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Rejected Files
                    </div>
                </div>
            </div>
            <!-- /current server load -->

        </div>

        <div class="col-lg-2">

            <!-- Today's revenue -->
            <div class="card bg-blue-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_pending_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Pending Files
                    </div>
                </div>
            </div>
            <!-- /today's revenue -->

        </div>
        <div class="col-lg-2">

            <!-- Today's revenue -->
            <div class="card bg-orange-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_accepted_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Accepted Files
                    </div>
                </div>
            </div>
            <!-- /today's revenue -->

        </div>
        <div class="col-lg-2">

            <!-- Today's revenue -->
            <div class="card bg-warning-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_forwarded_files }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Forwarded Files
                    </div>
                </div>
            </div>
            <!-- /today's revenue -->

        </div>
        <div class="col-lg-2">

            <!-- Today's revenue -->
            <div class="card bg-purple-400">
                <div class="card-body">
                    <div class="d-flex">
                        <h3 class="font-weight-semibold mb-0">{{ count_archives }}</h3>
                        <div class="list-icons ml-auto">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                    
                    <div>
                        Archived Files
                    </div>
                </div>
            </div>
            <!-- /today's revenue -->

        </div>
    </div>
    {% endif %}
    <!-- /quick stats boxes -->



    <!-- Column chart -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">{% now "Y" %} Files Chart </h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    
                    <div class="chart-container">
                        <div class="chart" id="google-column"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /column chart -->

</div>
<!-- /content area -->
{% endblock content %}

{% block scripts %}
<!-- Theme JS files -->

<script src="https://www.gstatic.com/charts/loader.js"></script>
<script src="{% static 'assets/js/pages/accounts/dashboard.js' %}"></script>
<script>
    {% if monthly %}
    var GoogleColumnBasic = function() {


        //
        // Setup module components
        //
    
        // Column chart
        var _googleColumnBasic = function() {
            if (typeof google == 'undefined') {
                console.warn('Warning - Google Charts library is not loaded.');
                return;
            }
    
            // Initialize chart
            google.charts.load('current', {
                callback: function () {
    
                    // Draw chart
                    drawColumn();
    
                    // Resize on sidebar width change
                    $(document).on('click', '.sidebar-control', drawColumn);
    
                    // Resize on window resize
                    var resizeColumn;
                    $(window).on('resize', function() {
                        clearTimeout(resizeColumn);
                        resizeColumn = setTimeout(function () {
                            drawColumn();
                        }, 200);
                    });
                },
                packages: ['corechart']
            });
    
            // Chart settings
            function drawColumn() {
    
                // Define charts element
                var line_chart_element = document.getElementById('google-column');
    
                var listMonths = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                // Data
                var data = google.visualization.arrayToDataTable([
                    ['Months', 'Files'],
                    {% for field, value in monthly %}
                    [listMonths[{{field}}], {{ value }}],
                    {% endfor %}
                    
                ]);
    
    
                // Options
                var options_column = {
                    fontName: 'Roboto',
                    height: 400,
                    fontSize: 12,
                    chartArea: {
                        left: '5%',
                        width: '94%',
                        height: 350
                    },
                    tooltip: {
                        textStyle: {
                            fontName: 'Roboto',
                            fontSize: 13
                        }
                    },
                    vAxis: {
                        title: 'Sales and Expenses',
                        titleTextStyle: {
                            fontSize: 13,
                            italic: false
                        },
                        gridlines:{
                            color: '#e5e5e5',
                            count: 10
                        },
                        minValue: 0
                    },
                    legend: {
                        position: 'top',
                        alignment: 'center',
                        textStyle: {
                            fontSize: 12
                        }
                    }
                };
    
                // Draw chart
                var column = new google.visualization.ColumnChart(line_chart_element);
                column.draw(data, options_column);
            }
        };
    
    
        //
        // Return objects assigned to module
        //
    
        return {
            init: function() {
                _googleColumnBasic();
            }
        }
    }();
    
    
    // Initialize module
    // ------------------------------
    
    GoogleColumnBasic.init();
    {% endif %}

    
</script>
{% endblock scripts %}