{% extends 'layouts/base.html' %}

{% block title %}View user details{% endblock title %}

{% load static %}

{% block content %}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Home</span> - View User Details</h4>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Content area -->
<div class="content">

    <!-- Inner container -->
    <div class="d-md-flex align-items-md-start">

        <!-- Left sidebar component -->
        <div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left wmin-300 border-0 shadow-0 sidebar-expand-md">

            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- Navigation -->
                <div class="card">
                    <div class="card-body bg-indigo-400 text-center card-img-top" style="background-image: url({% static 'assets/images/backgrounds/panel_bg.png' %}); background-size: contain;">
                        <div class="card-img-actions d-inline-block mb-3">
                            <img class="img-fluid rounded-circle" src="{% if user.user_image.image %} {{ user.user_image.image.url }} {% else %} {% static 'assets/images/user.svg' %} {% endif %}" width="170" height="170" alt="{{ user.name }}">
                            
                        </div>

                        <h6 class="font-weight-semibold mb-0">{{ user.name|title }}</h6>
                        <span class="d-block opacity-75">{{ user.account_type|title }}</span>
                        <span class="d-block opacity-75">{% if user.is_active %}<i class="fa fa-circle text-success" style="font-size: 10px;"></i> Active {% else %}<i class="fa fa-circle" style="font-size: 10px;"></i> Not Active {% endif %}</span>
                    </div>
                </div>
                <!-- /navigation -->


            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /left sidebar component -->


        <!-- Right content -->
        <div class="tab-content w-100">
            <div class="tab-pane fade active show" id="profile">

                <!-- Quick stats boxes -->
                <div class="row">
                    <div class="col-lg-2">

                        <!-- Sent File online -->
                        <div class="card bg-teal-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">{{ user.files.count }}</h3>
                                    <div class="list-icons ml-auto">
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                                
                                <div>
                                    Sent Files
                                </div>
                            </div>
                        </div>
                        <!-- /Sent File online -->

                    </div>

                    
                    <div class="col-lg-2">

                        <!-- Today's revenue -->
                        <div class="card bg-blue-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">{{ count_pending }}</h3>
                                    <div class="list-icons ml-auto">
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                                
                                <div>
                                    Pending Files
                                </div>
                            </div>
                        </div>
                        <!-- /today's revenue -->

                    </div>
                    <div class="col-lg-2">

                        <!-- Current server load -->
                        <div class="card bg-warning-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">{{ count_accepted }}</h3>
                                    <div class="list-icons ml-auto">
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                                
                                <div>
                                    Accepted Files
                                </div>
                            </div>
                        </div>
                        <!-- /current server load -->

                    </div>
                    <div class="col-lg-2">

                        <!-- Current server load -->
                        <div class="card bg-pink-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">{{ count_rejected }}</h3>
                                    <div class="list-icons ml-auto">
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                                
                                <div>
                                    Rejected Files
                                </div>
                            </div>
                        </div>
                        <!-- /current server load -->

                    </div>
                    <div class="col-lg-2">
                        <!-- Today's revenue -->
                        <div class="card bg-orange-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">{{ count_forward }}</h3>
                                    <div class="list-icons ml-auto">
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                                
                                <div>
                                    Forward Files
                                </div>
                            </div>
                        </div>
                        <!-- /today's revenue -->
                    </div>
                    <div class="col-lg-2">
                        <!-- Today's revenue -->
                        <div class="card bg-purple-400">
                            <div class="card-body">
                                <div class="d-flex">
                                    <h3 class="font-weight-semibold mb-0">{{ count_archives }}</h3>
                                    <div class="list-icons ml-auto">
                                        <a class="list-icons-item" data-action="reload"></a>
                                    </div>
                                </div>
                                
                                <div>
                                    Archived Files
                                </div>
                            </div>
                        </div>
                        <!-- /today's revenue -->

                    </div>
                </div>
                <!-- /quick stats boxes -->

                <!-- Profile info -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Profile information</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="{% url 'accounts:users_detail' user.id %}" id="formProfile">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 validate">
                                        <label>Email</label>
                                        <input type="email" name="email" value="{{ user.email }}" class="form-control">
                                        <span class="text-danger mySpan"></span>
                                    </div>
                                    <div class="col-md-6 validate">
                                        <label>Full name</label>
                                        <input type="text" name="name" value="{{ user.name|title }}" class="form-control">
                                        <span class="text-danger mySpan"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="d-block">Gender</label>
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="male" name="gender" {% if user.gender == 'male' %}checked{% endif %}>
                                                Male
                                            </label>
                                        </div>
            
                                        <div class="form-check form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="female" name="gender" {% if user.gender == 'female' %}checked{% endif %}>
                                                Female
                                            </label>
                                        </div>
                                        <br>
                                        <span class="text-danger mySpan"></span>
                                    </div>
                                    <div class="col-md-6 validate">
                                        <label>Phone Number</label>
                                        <input type="tel" value="{{ user.phone }}" name="phone" onkeypress="return isNumber(event)" class="form-control">
                                        <span class="text-danger mySpan"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6 validate">
                                        <label>Zone</label>
                                        <select name="zone" class="form-control" data-selected="{{ user.zone }}">
                                            {% for zone in zone_list %}
                                            <option value="{{ zone.name }}">{{ zone.name|title }}</option>
                                            {% endfor %}
                                        </select> 
                                        <span class="text-danger mySpan"></span>
                                    </div>
                                    <input type="hidden" readonly name="account_type" value="{{ user.account_type }}" >
                                    {% if user.account_type != user.ADMIN %}
                                    <div class="col-md-6 validate">
                                        <label>Department</label>
                                        <select name="department" class="form-control" data-selected="{{ user.department }}">
                                            {% for department in department_list %}
                                            <option value="{{ department.name }}">{{ department.name|upper }}</option>
                                            {% endfor %}
                                        </select> 
                                        <span class="text-danger mySpan"></span>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if user.account_type != 'admin' or request.user.account_type == 'super' %}
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary btnSubmit">Save changes</button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- /profile info -->

                <!-- Account settings -->
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Account settings</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <table class="table">
                                    <tr>
                                        <td>Reset Password</td>
                                        <td><input type="checkbox" name="reset" id="passwordReset" data-url="{% url 'accounts:reset_password' user.id %}"> <i class="resetText text-success"></i> </td>
                                    </tr>
                                </table>
                               
                            </div>
                            <div class="col-sm-6">
                                <!-- <form action="" id="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12 validate">
                                                <label>Email</label>
                                                <input type="email" name="email" value="{{ user.email }}" class="form-control">
                                                <span class="text-danger mySpan"></span>
                                            </div>
                                        </div>
                                    </div>
                                </form>  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /account settings -->

            </div>
        </div>
        <!-- /right content -->

    </div>
    <!-- /inner container -->

</div>
<!-- /content area -->
{% endblock content %}

{% block scripts %}
<script src="{% static 'assets/js/pages/accounts/users.js' %}"></script>
{% endblock scripts %}