
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}" type="image/ico" sizes="16x16">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/bootstrap/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/bootstrap/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/bootstrap/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/bootstrap/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Theme JS files -->
	<script src="{% static 'assets/bootstrap/js/app.js'  %}"></script>
	<!-- /theme JS files -->
</head>

<body>

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">
				<!-- Login form -->
				<form class="login-form" method="POST" action="{% url 'accounts:login'  %}">
					{% csrf_token %}
					<div class="card mb-0">
						<div class="card-body">
							<div class="text-center mb-3">
								<i class="icon-reading icon-2x text-slate-300 border-slate-300 border-3 rounded-round p-3 mb-3 mt-1"></i>
								<h5 class="mb-0">Login to your account</h5>
							</div>

							<div class="text-danger text-center">
								{% if form.non_field_errors %}
								{% for error in form.non_field_errors %}
								<p class="errornote"> {{ error }} </p>
								{% endfor %}
								{% endif %}

								{% if messages %}
									{% for message in messages %}
									<p class="errornote">{{message}}</p>
									{% endfor %}
								{% endif %}
							</div>
							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="email" name="email" class="form-control" placeholder="Email">
								<div class="form-control-feedback">
									<i class="icon-user text-muted"></i>
								</div>
							</div>

							<div class="form-group form-group-feedback form-group-feedback-left">
								<input type="password" name="password" class="form-control" placeholder="Password">
								<div class="form-control-feedback">
									<i class="icon-lock2 text-muted"></i>
								</div>
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 ml-2"></i></button>
							</div>

							<div class="text-center">
								<a href="{% url 'accounts:reset_password'  %}">Forgot password?</a>
							</div>
						</div>
					</div>
				</form>
				<!-- /login form -->

			</div>
			<!-- /content area -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>

<!-- Core JS files -->
<script src="{% static 'assets/js/main/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/main/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/loaders/blockui.min.js' %}"></script>
<!-- /core JS files -->

</html>

